// ------ Including Globber Font ------ //
@font-face {
    font-family: "Globber";
    src: url(/fonts/GloberThin.otf) format("opentype");
}


// ------ Global SCSS Variables ------ //

// $primary-font:    "Globber", 'Roboto';
$primary-font:'Roboto';
$white: #fff;
$black: #000;
$blue: #53b8bf;
$orange:#e9872a;
$lightgreen:#46ac4e;
$darkgreen:#4c813d;
$gray:#728086;
$grayborder:solid 2px #728086;

$caps: uppercase;
$bold: bold;
$relative: relative;
$absolute: absolute;
$center: center;
$left: left;
$underline:underline;
$float-left:left;
$box-shadow:-1px 0 13px 0 rgba(100,100,100,.75);
$buy-button-box-shadow: 0 10px 2px 2px #28642d;


// ------ Global Styles ------ //
h1, h2, h3, h4, h5, h6, p, span, table { 
    font-family: $primary-font;
    padding:0;
    margin:0;

}

body {
	background:transparent;
    background:$white;
    color: #444444;
    padding: 0;
    margin: 0;
	font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}

.site-container {
	max-width: 376px;
	margin: 0 auto;
}

.screen-reader {
	font: 0/0 a;
    color: transparent;
    border: 0;
    position: absolute;
    left: 100%;
    overflow: hidden;
}

.all-caps {
	text-transform:$caps;
}
.bold {
	font-weight: $bold;
}
.text-center {
	text-align:$center;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.clear {
	clear:both;
}


// ------ Header Section Styles ------ //

.logo {
	padding-left:1em;
    margin:1em auto .3em;
}

.tap-to-talk {
	display:none;
	padding-left:1em;
	margin:.5em auto 1em;
	line-height: 1.5em;
	font-size: 1.1em;
	
}

.phone {
	font-size: 1.2em;
}

.phone-image {
	float: left;
    margin-right: .2em;
}

.header-banner {
	background-image:url('/img/header-banner-update.jpg');
	height:308px;
	max-width:376px;
	color:$white

}

.header-banner span {
	font-weight:$bold;
	letter-spacing: .1em;
}

.header-banner h3 {
	text-transform: $caps;
	padding-top: 1em;
}

.header-banner h1 {
    font-size: 1.8em;
    padding: .5em 1.2em 0;
    line-height: 1.59em;
}



.build-new-bone {
	

    padding: 1em .5em;

    h2 {
    	font-size: 1.3em;
    	line-height: 1.3em;
    	color:$black;
    }

}



// ------ Video Section Styles ------ //
.home-video {
	position: $relative;
	max-width:376px;
}

.video-image {
	height:196px;
	max-width:376px;
	position: $absolute;
	z-index: 10;
}

.video-image>img {
	background-image:url('/img/video.jpg');
}

.video {
	height:196px;
	width:376px;
	position: relative;
	z-index: 5;
}



// ------ 3-6-12 Months Supply Section Styles ------ //
.all-product-boxes {
    height: auto;
    max-height: 0;
    overflow: hidden;
    position: $relative;
    
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1.5s ease;    
    padding-top: 2em;
    margin:0 auto;
}

.all-product-boxes.active {
	max-height:100em;
	
}

.product-cards, .most-popular-box {
	position: $relative;
	color: $black;
	max-width: 270px;  
	background:$white;
	box-shadow:$box-shadow;
	border: 1px solid #777;
	margin-bottom: 1.5em;
    margin:3em auto;	
}

.product-cards {
	h4 {
		font-weight: $bold;
		margin-top:1em;

	}

	p {
		margin: .3em 0 1.3em;
	    line-height: 1.3;
	    color: $blue;
	    font-size: 1.2em;
	}

	.full-price {
		margin: .5em 0 .3em;
		font-size: 2em;
	    font-weight: $bold;	
	}

	.dollar-sign {
		vertical-align: super;
		font-size: 70%
	}

	.price {
	    margin-left:-.3em
	}

	.currancy {
		font-size: 40%;
		text-decoration: $underline;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    display: inline-block;
	}

	.price-per-day {
		background-image: url('/img/highlight.jpg');
		-webkit-background-size: 100% 100%;
	    background-size: 100% 100%;
	    width: 9em;
	    font-size: 1.2em;
	    margin: 0 auto;
	}

	.daily-price {
		font-weight: $bold;
		margin-left: -.3em;
	}

	.add-to-cart-btn {
	    margin-top: .8em;
	    margin-bottom: 2.5em;
	    width: 195px;
	}	

	.add-to-cart-btn a{
	    padding-left: 2em;
	    margin-left: 0.5em;
	}

	.add-to-cart-btn img {
		top: -0.9em;
	}

	.savings {
	 	background-color: $orange;
	    height: 70px;
	    width: 70px;
	    border-radius: 200px;
	    position: absolute;
	    top: -35px;
	    right: -35px;
	    -webkit-box-shadow: -1px 0 13px 0 rgba(100,100,100,.75);
	    box-shadow: -1px 0 13px 0 rgba(100,100,100,.75);
	 }	

	.savings p{
	 	color:$white;
	 	font-size: 1.3em;
	    line-height: 1em;
	    margin-top: .7em;
	    font-weight: bold;

	 }	 

	.savings span {
	 	font-size: 78%;
	 }	 
}

.most-popular-box {
	max-width:292px;
	background:$blue;
    height: 480px;
    margin: 0 auto 2em;	
}

.most-popular-copy {
	text-align: $center;
    color: $white;
    padding: .3em;
}

.most-popular-box .product-cards {
	margin-top:0;
}

.add-to-cart-btn {
	width:250px;

	img {
		position:$absolute;
		top:-1em;
		left:-2em;
	}

	a {
		background: $lightgreen;
	    border-bottom: 2px solid #77c87d;
	    display: table;
	    padding: 14px 0 8px;
	    width: 100%;
	    border-radius: 8px;
	    outline: 0;
	    text-decoration: none!important;
	    text-align:$center;
	    margin: 8px 0 0;
	    -webkit-box-shadow: $buy-button-box-shadow;
	    box-shadow: $buy-button-box-shadow;
	    position: $relative;
	    color: #fff;
	    font-weight:$bold;
	}		
} 


// ------ Supplement Facts Section Styles ------ //`


 .sup-facts {

 	margin-bottom: 1em;
 	font-weight: $bold;

 	 h5 {
		text-align: $center;
		font-size: 2em;
		color: $black;
		margin-bottom: .3em;
		font-weight: $bold;
 	}
 	 .supplement-facts {
		
		color: $black;
		padding: .4em;
		border:2px solid $black;

	}

	h3 {
		text-align: $center;
	    margin: .3em 0 .7em;
	    font-weight: $bold;
	}

	.servings {
		line-height: 1.5em;
		font-weight: $bold;
	}

	.amount-per-serving {
		border-top: 16px solid $black;
    	line-height: 1.5em;
    	border-bottom: 6px solid $black;
	}

	th span {
		float: right;
    	margin-right: 1em;
	}

	td {
		padding:.3em 0;
	}
	small {
		font-weight: $bold;
	}

	.table-super {
		font-size: .7em;
	    vertical-align: super;
	    margin-left: -.2em;
	}

	.vitamins-and-minerals {
		border-top: 6px solid $black;
		border-bottom: 16px solid $black;
	}
	.boron {
		border-top: 16px solid $black;
		border-bottom: 16px solid $black;
	}


	

 }

.algaecal p {
	margin-bottom: .7em;
}

.strontium h3 {
	margin-bottom:0;
}



// ------ 7 Year Guarantee Section Styles ------ //
.seven-year-guarantee {
	background-image:url('/img/guarantee-box.jpg');
	height:1016px;
	max-width:344px;
	position:$relative;	
	color:$black;
	padding:0 3em;

	h3 {
		color:$orange;
		font-weight:$bold;
		margin:1.5em 0 .5em;
	}

	p  {
	  	line-height: 1.3em;
	    font-size: 1.1em;
		margin-bottom:1.5em;    
	}

	a {
		text-decoration:$underline!important;
		color:$blue!important;
		cursor:pointer;
	}	
}

.seven-year-guarantee-image {
	margin-top:3em;
}

.ceo-box {
	margin-left:1.2em;
}

.ceo-dean {
	margin-left:2em;
		span{
		font-weight:$bold;
	}
}

.modal-content {
	text-align: $left;
	padding:0 1em;
	position: $relative;

	h3 {
		margin:1em 0 .4em;
		color:$orange;
		text-decoration:$underline;
	}

	p {
		line-height: 1.3em;
		margin-bottom: .8em;
	}
	p:last-child {
		text-align: $center;
	}

	a {
		color:$blue;
	}

	p:last-child a{
		display: block;
	}	
	button {
	    position: absolute;
	    right: 20px;
	    top: 10px;
	}
}


// ------ As Seen On Section Styles ------ //
.as-seen-on {
	max-width: 344px;
	margin-top: 2em;

		h6 {
		font-size: 1.5em;
	    line-height: 1.7em;
	}
}

.seen-on-top {
	height:2.5em;
	background:$darkgreen;
	color:$white;

}

.seen-on-bottom {
 	box-shadow:$box-shadow;
 	padding: 0 .5em;
 }

 .seen-on-bottom .publications {
 	padding-top:1.5em;
 }

.published-books {
	margin-top:1.5em;
	padding-bottom:1.5em;

		img {
		float:$float-left;
		margin-right:.4em;
	}

	p {
		line-height:1em;
		font-size: .9em;
	}

		.your-bones {
		margin-left:-1.9em;
	}
}

.published-books p:nth-child(even) {
	font-weight:$bold;

}

.published-books p:nth-child(odd) {
	font-size:.8em;
	margin:.2em 0;

}

.amazon {
	margin-top:.5em;
}


// ------ Scientific References Section Styles ------ //
.references {
	width:250px;
	margin-top:2em;
	margin-bottom: 3em;

	h5 {
		font-weight:$bold;
		color:$blue;
		margin-bottom:.5em;
	}

		ol,li {
	    margin: 0;
	    padding: 0;
	}

	ol {
	    counter-reset: foo;
	    display: table;
	    margin-bottom: 1em;
	}	

	li {
	    list-style: none;
	    counter-increment: foo;
	    display: table-row;
	    line-height: 1.3em;
	}	

	li::before {
	    content: counter(foo) ".";
	    display: table-cell;
	    text-align: right;
	    padding-right: .3em;
	}	

	a {
		text-decoration: $underline;
		color:$blue;
	}	
}


// ------ Big Buy Now Section Styles ------ //


.bottom-add-to-cart a {
    line-height: .5em;
    padding: .7em 0 .7em 2em;
    font-size: 1.3em;
}


// ------ Footer Section Styles ------ //
footer {
	margin-top:3em;
	text-align:$center;
	padding:0 2.2em;

a {
		font-size: 1.07em;
		color:$gray;
		border-right:$grayborder;
		line-height:1.5em;
		margin:.4em 0;
		padding-right:.4em;
	}	

	a:last-child{
		border-right:none;
	}

	.copyright {
		margin:1.3em 0 4em;
	}
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 


}

// Medium devices (tablets only)
@media (min-width: 768px) and (max-width: 1023px) {

	section {
		float: $left;
		width: 100%;
	}

	// ------ Product Card Section Styles ------ //
	.product-cards {
		max-width: 200px;
		float: left;

		.product-image {
			width:95%;
		}

		.add-to-cart-btn {
			width: 162px;
			margin-top: 1.3em;
		}

		h4 {
			font-size:1.4em;
		}
	}

	.most-popular-box {
		max-width: 232px;
		float: left;
		margin:1em 2.7em;
		height: 453px;
	}

	.all-product-boxes {
		margin-left: .5em;
	}


	// ------ Supplement Facts Section Styles ------ //	
	.sup-facts-container {
		float: right;
		width:50%;
	}


	// ------ 7 Year Guarantee Section Styles ------ //	
	.seven-year-guarantee {
		float: $left;
		margin-left: 1em;
	}

	// ------ As Seen on Section Styles ------ //

	.as-seen-on {
		float: right;
    	margin-right: 1.2em;
	}

	// ------ References Section Styles ------ //

	.references  {
		clear: both;
		padding: 1.5em 1em;
		width:100%;
		margin-bottom: 0;
	}

	// ------ Add to Cart Section Section Styles ------ //

	.tablet-add-to-cart {
		display: block;
		float: $left;
	}

	.bottom-add-to-cart {
		margin-bottom: 3.5em;
	}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	// ------ Global Styles ------ //
	.site-container {
		max-width:768px;
	}

	// ------ Header Section Styles ------ //

	.header-border {
		border-bottom: solid 1px $gray;
		margin:0 1em 2em;
	}	

	.header-banner {
		float: $left;
	}	

	// ------ Build Stronger Bones Section Styles ------ //	
	.build-new-bone  {
		float: right;
		text-align: center;
    	padding: 0em 1em 1.3em;

    	h2 {
    		font-size: 1.5em;
			line-height: 1.2em;
    	}		
	}	

	// ------ Home Video Section Styles ------ //	

	.video {
		width:355px;
	}

	.video-image {
		img {
			width:355px;
		}
	}

	.home-video {
		display:table;
		width: 355px;
	}
	.wistia_responsive_padding {
		border:solid 1px $gray;
	}

	// ------ Modal Section Styles ------ //	
	.modal-dialog {
	    max-width: 700px;
	}	


}


// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) {
	// ------ Global Styles ------ //
	.site-container {
		max-width:1024px;
	}

	section {
		float: left;
		width: 100%;
	}
	footer {
		clear: both;
	}

	// ------ Header Section Styles ------ //
	.logo{
		float: $left;
	}

	.tap-to-talk {
		float: $left;
    	margin-left: -4em;
	}

	.header-banner {
	    float: left;
	    margin-left: 4em;
	}

	.header-border {
		border-bottom: solid 1px $gray;
		margin-bottom: 2em;
	}

	// ------ Build Stronger Bones Section Styles ------ //	
	.build-new-bone  {
		float: right;
		text-align: center;
    	padding: 0em 1em 1.3em;
    	max-width:50%;
    	margin-right: 2em;

    	h2 {
    		font-size: 1.6em;

    	}		
	}
	// ------ Home Video Section Styles ------ //	


	.home-video {
		float:right;
		margin-right:6.5em;
	}
	.wistia_responsive_padding {
		border:solid 1px $gray;
	}

	// ------ Product Card Section Styles ------ //
	.most-popular-box, .product-cards {
		float: left;
	} 

	.most-popular-box {
		margin: 1.4em 3.2em;
		height: 487px;
	}

	.all-product-boxes {
		margin-bottom: 1.5em;
		margin-left: 3.4em;
	}

	// ------ Supplement Facts Section Styles ------ //	

	.sup-facts-container{
		float: $left;
		padding-left: 0;
	}

	.strontium {
		margin-top: 3em;
	}


	// ------ 7 Year Guarantee Section Styles ------ //	
	.seven-year-guarantee {
		float: $left;
		margin-left: 2em;
	}
	.as-seen-on {
		margin-top: 0;
		max-width:310px;
	}
	.as-seen-and-references {
		float:right;
	}

	.publications {
		img {
			height: 62%;
		}
	}

	.published-books {
		p {
			font-size: .8em;
		}
	}

	// ------ Add to Cart Section Styles ------ //	
	.bottom-add-to-cart {
		float: right;
		margin-right: 1em;
	}

	// ------ Modal Section Styles ------ //	
	.modal-dialog {
	    max-width: 900px;
	}	

	// ------ Footer Section Styles ------ //	

	footer {
		padding-top: 2em;
	}




 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1025px) { 
	.video-image {
		img{
			display: none;
		}
	}
 }
